.edit-container{

    width:500px;

    margin:50px auto;

    background:white;

    padding:40px;

    border-radius:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.1);
}

.edit-container h1{

    margin-bottom:30px;

    text-align:center;
}

label{

    display:block;

    margin-top:20px;

    font-weight:600;
}

input{

    width:100%;

    padding:14px;

    margin-top:8px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:16px;
}

button{

    width:100%;

    margin-top:30px;

    padding:16px;

    background:linear-gradient(135deg,#7BC67B,#62B86A);

    color:white;

    border:none;

    border-radius:30px;

    font-size:17px;

    font-weight:700;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    background:linear-gradient(135deg,#69B769,#54A95A);

    transform:translateY(-2px);

    box-shadow:0 8px 20px rgba(98,184,106,.35);
}